/* Main font */


/* GothicNeo */

// regular
@font-face {
  font-connect('SquareSansPro', '/fonts/SquareSansPro/SquareSansPro', '-Regular');
}

// regular
@font-face {
  font-connect('SquareSansPro', '/fonts/SquareSansPro/SquareSansPro', '-Medium', 500);
}