.body {
  min-height: 100%;
  background-color: $c_gray;

  &__inner {
    max-width: 1240px;
    margin: 26px auto 22px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__pagename {
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: $c_red;
    padding: 17px 16px 13px;
    position: relative;

    &:after {
      content: '';
      border-left: 45px solid $c_red;
      border-top: 45px solid alpha($c_red, 0%);
      position: absolute;
      bottom: 0;
      left: 100%;
    }
  }
}