.footer
    .footer__inner
        .footer__top
            .footer__top-left
                .footer__nav
                    .footer__nav-item
                        a.footer__nav-link О Changellenge
                    .footer__nav-item
                        a.footer__nav-link Частые вопросы
                    .footer__nav-item
                        a.footer__nav-link Связаться с нами
                    .footer__nav-item
                        a.footer__nav-link Кейс-клубы
                    .footer__nav-item
                        a.footer__nav-link Рейтинги

            .footer__top-right
                .footer__copy © Changellenge, 2016



        .footer__bottom
            .footer__socials
                a.footer__socials-link._fb
                    svg
                        use(xlink:href="#svg-soc-fb")
                a.footer__socials-link._vk
                    svg
                        use(xlink:href="#svg-soc-vk")
                //a.footer__socials-link
                //    svg
                //        use(xlink:href="#svg-soc-tw")
                //a.footer__socials-link
                //    svg
                //        use(xlink:href="#svg-soc-in")