.header
    .header__inner
        .header__logo
            svg
                use(xlink:href="#svg-logo")

        .header__nav
            nav.nav
                .nav__item
                    a.nav__link Главная
                .nav__item
                    a.nav__link Мероприятия
                .nav__item
                    a.nav__link Чемпионаты
                .nav__item
                    a.nav__link Обучение
                .nav__item
                    a.nav__link Карьера

        .header__search
            .header__search-icon
                svg
                    use(xlink:href="#svg-search-icon")


        .header__notif

        .header__user
            .user
                .user__photo
                    img(src="/uploads/users/1.jpg")
                .user__name Николай Константинов