.content__faq
    .content__faq-header
        .searchbar
            .searchbar__inner
                .searchbar__inner-left
                    .searchbar__input
                        i.searchbar__input-loupe
                            svg
                                use(xlink:href="#svg-search-icon")
                        input.searchbar__input-field(placeholder="Поиск")

                .searchbar__inner-right
                    .searchbar__select
                        .el-select
                            .el-select__header
                                span.el-select__chosen Сначала популярные
                            ul.el-select__list
                                li.el-select__list-li._active(data-value="popular") Сначала популярные
                                li.el-select__list-li(data-value="new") Сначала новые
                                li.el-select__list-li(data-value="old") Сначала старые


    .content__faq-questions
        a.content__faq-question Как мы помогаем строить вам карьеру?
        a.content__faq-question Влияет ли уровень учётной записи на работу в компании?
        a.content__faq-question Как решать кейсы?
        a.content__faq-question Что такое фит-интервью и как его пройти?
        a.content__faq-question Как реализовать ключевой кейс компании?
        a.content__faq-question Можно ли самому распределять время занятости в программе на неделю?
        a.content__faq-question Предоставляются ли какие-либо сертификаты, удостоверяющие успешное окончание программы?
        a.content__faq-question Как максимально эффективно использовать свои молодые годы, или выводы СЕО, которые помогут улучшить вашу карьеру?
        a.content__faq-question Что такое компетенции и как их продемонстрировать во время ассессментов и интервью?
        a.content__faq-question Что такое тестирование по типу GMAT и как к нему подготовиться?