doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="format-detection" content="telephone=no")
        meta(name="apple-mobile-web-app-capable" content="yes")

        title Changellenge

    body
        include ./html/assets/svg.html

        .body
            .body__header
                include ./html/components/header

            .body__inner
                .body__top
                    .body__top-left
                        .body__top-pagename FAQ
                    .body__top-right
                        a.body__top-btn Задать вопрос

                .body__content
                    .content
                        .content__inner
                            .content__left
                                include ./html/pages/faq

                                .content__more Показать еще

                            .content__right
                                .categories
                                    .categories__title Категории
                                    .categories__radios
                                        .categories__item
                                            .el-radio
                                                input(type="radio" id="category-all" name="category" checked)
                                                label(for="category-all") Все
                                        .categories__item
                                            .el-radio
                                                input(type="radio" id="category-that" name="category")
                                                label(for="category-that") Только те
                                        .categories__item
                                            .el-radio
                                                input(type="radio" id="category-other" name="category")
                                                label(for="category-other") Только другие

                                    .categories__clear
                                        a Сбросить всё

            .body__footer
                include ./html/components/footer